{% extends 'header.html' %}
{% block content %}
        <div class="container main">

        <div class="row">
            <div class="panel-heading">
                <div class="panel-title  text-center">
                    <h1 class="title">Login</h1>
                    <hr />
                </div>

            </div>
                <form action="{{ url_for('public.login') }}" method="post">
                    {{ form.hidden_tag() }}
                    {% if form.email.errors %}
                    <div class="form-group has-error">
                    {% else %}
                    <div class="form-group">
                    {% endif %}
                        <label for="email" class="control-label">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa"></i></span>
                            {{ form.email(class="form-control", placeholder="Skriv din Email") }}
                        </div>
                        {% if form.email.errors%}
                            {% for error in form.email.errors %}
                               <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {% if form.password.errors %}
                        <div class="form-group has-error">
                    {% else %}
                        <div class="form-group">
                    {% endif %}
                        <label for="password" class="control-label">Passord</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa"></i></span>
                            {{ form.password(class="form-control", placeholder="Skriv dit passord") }}
                        </div>
                        {% if form.password.errors%}
                            {% for error in form.password.errors %}
                               <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="{{ url_for('public.signup') }}" class="pull-right">Ny Bruger?</a>
                    </div>

                </form>




            </div>

        </div>


{% endblock %}