<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSM Morgenmadsliste</title>
    <link href="{{ url_for('static', filename="bootstrap/dist/css/bootstrap.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="css/main.css") }}" rel="stylesheet" type="text/css">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="flashes">
        <ul>
            {% for category, message in messages %}
                <div class="{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endwith %}
{% block content %} {% endblock %}
<script src="{{ url_for("static", filename="jquery/dist/jquery.js") }}"></script>
<script src="{{ url_for("static", filename="bootstrap/dist/js/bootstrap.js") }}"></script>
</body>
</html>