<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KSM Morgenmadsliste</title>
    <link href="{{ url_for('static', filename="bootstrap/dist/css/bootstrap.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="css/main.css") }}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="brand" height="75" width="75" src="http://www.almbrand.dk/idc/groups/abdk_web/documents/web_assets/img_logo.png">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                <li><a href="#">Min Profil</a></li>
                <li><a href="#">Logout</a></li>
                {% else %}
                <li><a href="#">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="container">
        <ul>
            {% for category, message in messages %}
                <div class="{{ category }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endwith %}
{% block content %} {% endblock %}
<script src="{{ url_for("static", filename="jquery/dist/jquery.js") }}"></script>
<script src="{{ url_for("static", filename="bootstrap/dist/js/bootstrap.js") }}"></script>
<script src="https://use.fontawesome.com/3641283060.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>